<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <system.web>
    <authentication mode="None" />
    <authorization>
      <allow users="?" />
    </authorization>
    <compilation debug="true" targetFramework="4.0" />
<httpRuntime executionTimeout="300000" />
       <sessionState mode="InProc" cookieless="false" timeout="80" />
<customErrors mode="Off" />
        <globalization culture="pt-BR" enableClientBasedCulture="false" fileEncoding="utf-8" uiCulture="pt-BR" />
  </system.web>
    <system.webServer>
        <defaultDocument>
        </defaultDocument>
        <directoryBrowse enabled="true" />
        <staticContent>
            <clientCache cacheControlMode="UseMaxAge" 
                         cacheControlMaxAge="7.00:00:00" />
        </staticContent>
    </system.webServer>
    <system.data>
        <DbProviderFactories>
            <remove invariant="System.Data.SqlServerCe.4.0" />
            <add invariant="System.Data.SqlServerCe.4.0" name="Microsoft® SQL Server® Compact 4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
        </DbProviderFactories>
    </system.data>

</configuration>