@{
    Layout = "~/Layout/Layout.cshtml";
    string chave = (string) Session["user"];
    int maximo = Aplicativo.MaximoOrdemFeed();
}

@if(!String.IsNullOrEmpty(chave))
{
<h1> CADASTRO DE FEED </h1>
<form method="post" action="@Href("~/Views/Acts/SalvarFeed.cshtml")">
    <div class="form-row">
        <div class="col-md-2">
            <div class="md-form form-group">
                <input type="number" class="form-control" min=1 name="inputOrdem" id="inputOrdem" placeholder="Ordem" required value="@maximo">
                <label for="inputOrdem">Ordem </label>
            </div>
        </div>
        <div class="col-md-8">
            <div class="md-form form-group">
                <input type="text" class="form-control" id="inputTitulo" name="inputTitulo" placeholder="Título" required>
                <label for="inputTitulo">Título </label>
            </div>
        </div>
        <div class="col-md-8">
            <div class="md-form form-group">
                <textarea class="form-control" rows="5" maxlength="250"  id="inputNoticia" name="inputNoticia" required></textarea>
                <label for="inputNoticia">Notícia </label>
            </div>
        </div>
        <div class="col-md-2">
            <div class="md-form form-group">
                <input type="number" min=1 max=3 class="form-control" id="inputVelocidade" name="inputVelocidade" placeholder="Velocidade" value="3">
                <label for="inputVelocidade">Velocidade </label>
            </div>
        </div>
    </div>  
    <button type="submit" class="btn btn-primary btn-md">Salvar</button>
    <a href="@Href("~/Views/Menus/Feed.cshtml")" class="btn btn-warning" role="button">Cancelar</a>
</form>
}